<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil de Usuário</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div id="app" class="container my-3">

        <section v-if="erro" class="alert alert-danger m-2">
            <p>Perdão, houve um erro ao carregar as informações. Por favor tente mais tarde</p>
        </section>

        <section v-else>
            <div v-if="carregando" class="alert alert-warning m-2">Carregando...</div>

            <div v-else>

                <div id="usuario">
                    <h1 class="text-center">Perfil do usuário</h1>
                    <h2>Dados Pessoais</h2>

                    <p id="nome">Nome: {{ usuario.name }}</p>
                    <p id="username">Username: {{ usuario.username }}</p>
                    <p id="email">Email: {{ usuario.email }}</p>
                    <p id="telefone">Telefone: {{ usuario.phone }}</p>
                    <p id="website">Website: {{ usuario.website }}</p>
                    <hr>
                    <div id="endereco">
                        <h2>Endereço</h2>
                        <p id="rua">Rua: {{ usuario.address.street }}</p>
                        <p id="complemento">Complemento: {{ usuario.address.suite }}</p>
                        <p id="cidade">Cidade: {{ usuario.address.city }}</p>
                        <p id="cep">Cep: {{ usuario.address.zipcode }}</p>
                    </div>
                    <hr>

                    <div id="empresa">
                        <h3>Empresa</h3>
                        <p id="nome">Nome: {{ usuario.company.name }}</p>
                        <p id="slogan">Slogan: {{ usuario.company.catchPhrase }}</p>
                        <p id="bs">B.S: {{ usuario.company.bs }}</p>
                    </div>
                    <hr>
                    <div id="estatísticas">
                        <h3>Estatísticas</h3>
                        <p id="qtdPosts">Quantidade de Posts: {{ qtdPosts }}</p>
                        <p id="qtdAlbuns">Quantidade de albuns: {{ getQuantidadeAlbunsUsuario() }}</p>
                    </div>
                    <hr>
                    <div>
                        <h3>Albuns</h3>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#albuns"
                            aria-expanded="false">
                            Ver Albuns
                        </button>
                        <div v-for="n in albuns" class="collapse py-2" id="albuns">
                            <div class="album"></div>
                            <h5>{{n.title}}</h5>
                            <img src="https://via.placeholder.com/150/92c952}" />
                            <hr>
                        </div>
                    </div>
                </div>


            </div>

    </div>
    </section>
    </div>



    <!-- biblioteca vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="js/perfil.js"></script>

</body>

</html>