<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil de Usuário</title>
</head>

<body>

    <div id="app">

        <section v-if="erro">
            <p>Perdão, houve um erro ao carregar as informações. Por favor tente mais tarde</p>
        </section>

        <section v-else>
            <div v-if="carregando">Carregando...</div>

            <div v-else>
            <p>
                {{ usuario.name }}
            </p>
        </div>
        </section>
    </div>



    <!-- biblioteca vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="js/perfil.js"></script>

</body>

</html>