<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ver Posts</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <div id="app" class="container my-5">

        <section v-if="erro" class="alert alert-danger m-2">
            <p>Perdão, houve um erro ao carregar as informações. Por favor tente mais tarde</p>
        </section>

        <section v-else>
            <h1 class="text-center">Confira os posts</h1>
            <div class="col d-flex justify-content-center">
                <div id="posts">
                    <div v-for="(n, i) in posts">
                        <div class="card my-3" style="width: 25rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{n.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">por {{ users[i] }}</h6>
                                <p class="card-text"><button class="btn btn-primary" v-on:click="verMais(n.id)">Ver
                                        mais</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>



    <!-- biblioteca vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="js/posts.js"></script>

</body>

</html>